/*baza*/
body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
}

img {
  display: block;
  height: auto;
}

.container {
  width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}
/*baza*/
/*header*/
.header .container {
  display: flex;
}

.navigation {
  display: flex;
}

.logo {
  display: flex;
  gap: 16px;
  margin-right: 237px;
  align-items: center;

  font-weight: 700;
  font-size: 30px;

  line-height: 0.93333;
  color: #173a56;
}

.nav-list {
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav-list-item {
}

.nav-list-link {
  padding: 26px 0;
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
}

.active {
  font-weight: 600;
}

.list-btn {
  margin-left: auto;
  display: flex;
  gap: 21px;
  align-items: center;
}

.list-btn-item {
}

.list-btn-sign-in {
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

  width: 105px;
  height: 42px;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #173a56;
}

.list-btn-sign-up {
  border-radius: 4px;
  width: 113px;
  height: 42px;
  background: #02897a;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}
/*header*/
/*hero*/
.hero {
}
.container.hero {
  display: flex;
}
.hero-content {
}
.hero-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #22343d;
  padding-top: 112px;
}

.hero-title-descr {
  margin-top: 18px;
  margin-right: 35px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55556;
  color: #22343d;
}

.hero-list-btn {
  display: flex;
  align-items: center;
  margin-top: 45px;
}

.hero-list-item {
}

.hero-list-btn-get {
  border-radius: 4px;
  width: 178px;
  height: 53px;
  background: #02897a;
  margin-right: 30px;
}

.hero-list-btn-watch {
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #02897a;
}
/*hero*/
/*product*/
.container {
}
.produkt {
}
.produkt-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #22343d;
  margin-top: 100px;
}

.produkt-list {
  display: flex;
  margin-top: 50px;
  gap: 30px;
  margin-bottom: 50px;
}
.produkt-list-item {
  width: calc((100% - 90px) / 4);
}
.produkt-subtitle {
  margin-bottom: 13px;
  font-weight: 600;
  font-size: 22px;
  color: #22343d;
}
.produkt-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
}
.produkt-btn {
  margin: 0 auto;
  display: block;
  border-radius: 4px;
  width: 175px;
  height: 53px;
  background: #02897a;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}
/* product */
/* managament */
.managament {
}
.container-managment {
  display: flex;

  align-items: center;
  margin-top: 50px;
  margin-bottom: 100px;
}
.managament-text {
  padding-top: 91px;
  margin-right: 84px;
}
.managament-img {
  padding-top: 50px;
}
.managament-title {
  margin-top: 8px;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
}
.managament-subtext {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
}
.managament-subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
}
.managament-subtitle-accessory {
  margin-top: 30px;
  margin-bottom: 12px;
}
.accessory {
  margin-bottom: 25px;
}
.managament-subtitle-altera {
  margin-bottom: 12px;
}
.altera {
}
h4 {
  font-weight: 600;
  font-size: 16px;
  color: #22343d;
}
/*support*/
.support {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}
.support-item {
  display: flex;
}

.support-item:not(:last-child) {
  margin-bottom: 25px;
}

.support-text {
  margin-left: 84px;
}
.support-subtitle {
  margin-top: 41px;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 16px;
  color: #22343d;
}
.support-title {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
}
.support-title-text {
  margin-bottom: 30px;
}
.support-list {
}
.support-item {
}
.support-check {
  margin-right: 30.06px;
  width: 35.07px;
  height: 35px;
}
/*support*/
/*collaborative*/
.collaborat {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.collaborat-content {
  margin-right: 84px;
}
.collaborat-subtitle-first {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 16px;
  color: #22343d;
}
.collaborat-title {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
}
.collaborat-title-text {
  margin-bottom: 30px;

  font-size: 16px;
  line-height: 1.63;
  color: #22343d;
}
.collaborat-subtitle-sec {
  margin-bottom: 12px;
}
.collaborat-text {
  margin-bottom: 30px;
}
.collaborat-img {
  width: 540px;
  height: auto;
}
/*collaborative*/
/*proces*/
.proces {
}
.proces-title {
  text-align: center;
  margin-bottom: 25px;
}
.proces-text {
  margin-bottom: 40px;
  text-align: center;
}
.proces-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.proces-item {
}
.proces-text-img {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #2f281e;
  display: inline-block;
  background-color: #fff;
  padding: 12px 24px;
  border-radius: 9999px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.proces-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.proces-wrap.girl {
  margin-right: 91px;
}
.proces-wrap.pacan {
  margin-right: 100px;
}
.proces-btn {
  display: block;
  border-radius: 4px;
  width: 216px;
  height: 53px;
  background: #02897a;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 100px;
}
/*proces*/

/*strategies*/
.strategies {
  margin-bottom: 171px;
}
.strategies-title {
  font-weight: 700;
  font-size: 34px;
  color: #22343d;

  margin-bottom: 10px;
}
.strategies-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;

  max-width: 465px;
  margin-bottom: 40px;
}
.strategies-list {
  display: flex;
  gap: 30px;
}
.strategies-item {
  max-width: 350px;
}
.strategies-img {
  margin-bottom: 24px;
}
.strategies-item-text {
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;

  margin-bottom: 12px;
}
.strategies-span {
  font-weight: 700;
}
.strategies-item-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.67;
  color: #22343d;
}
.strategies-item-subtitle.green {
  color: #02897a;
}
/*strategies*/
/*table*/
.table {
  margin-bottom: 100px;
}
.table-title {
  font-weight: 700;
  font-size: 34px;
  color: #22343d;
  text-align: center;

  margin-bottom: 10px;
}
.table-title-text {
  font-weight: 500;
  font-size: 16px;
  color: #22343d;
  text-align: center;

  margin-bottom: 40px;
}
.table-list {
  display: flex;
  gap: 72px;
  flex-basis: ((100% - 144px) / 3);
  justify-content: center;
}
.table-item {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  border-radius: 8px;
  min-width: 322px;
  min-height: 456px;

  display: flex;
  flex-direction: column;

  align-items: center;
}

/*service*/
.table-item-green {
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  background: #02897a;
  display: flex;
  flex-direction: column;

  align-items: center;
  color: #fff;
  min-width: 322px;
  min-height: 456px;
}
.table-subtitle {
  margin-top: 32px;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.67;
  color: #22343d;
}
.table-subtitle-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 2.5;
  color: #22343d;
}
.table-cifre {
  font-weight: 700;
  font-size: 76px;
  line-height: 1.31579;
  letter-spacing: 0em;
  text-align: center;
  color: #02897a;

  margin-right: 24px;
}
.table-dollar {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 0em;
  color: #02897a;

  margin-bottom: 7px;
}
.table-text-column {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 30px;
}
.table-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.375;
  letter-spacing: 0.01em;
  color: #22343d;
}

.table-btn {
  border-radius: 8px;
  width: 139px;
  height: 44px;

  background: #02897a;
}

.table-price {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.table-period {
  display: flex;
  flex-direction: column;
}
/*green*/
.table-item-green {
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  background: #02897a;
  display: flex;
  flex-direction: column;

  align-items: center;
  color: #fff;
  min-width: 322px;
  min-height: 456px;
}
.table-subtitle-green {
  margin-top: 32px;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.67;
  color: #fff;
}
.table-subtitle-text-green {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: 0.01em;
  color: #fff;
  margin-bottom: 16px;
}
.table-cifre-green {
  font-weight: 700;
  font-size: 76px;
  line-height: 1.32;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;

  margin-right: 24px;
}
.table-dollar-green {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 0em;
  color: #fff;

  margin-bottom: 7px;
}
.table-period-text-green {
  color: #e0e0e0;
}
.table-text-column-green {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 30px;
}
.table-text-green {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.375;
  letter-spacing: 0.01em;
  color: #fff;
}

.table-btn-green {
  border-radius: 8px;
  width: 139px;
  height: 44px;

  background: #fff;
}

.table-price-green {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.table-period-green {
  display: flex;
  flex-direction: column;
}
/*table*/
/*prising*/
.icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.icon.plus {
  display: block;
}
.icon.minus {
  display: none;
}
summary {
  cursor: pointer;
  font-size: 1.2em;
  display: flex;
  align-items: center;
}
summary::-webkit-details-marker {
  display: none;
}
details[open] .icon.plus {
  display: none;
}
details[open] .icon.minus {
  display: block;
}
/*prising*/
