/*baza*/
body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
}

img {
  display: block;
  height: auto;
}

.container {
  width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}
/*baza*/
/*header*/
.header .container {
  display: flex;
}

.navigation {
  display: flex;
}

.logo {
  display: flex;
  gap: 16px;
  margin-right: 237px;
  align-items: center;

  font-weight: 700;
  font-size: 30px;

  line-height: 0.93333;
  color: #173a56;
}

.nav-list {
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav-list-item {
}

.nav-list-link {
  padding: 26px 0;
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
}

.active {
  font-weight: 600;
}

.list-btn {
  margin-left: auto;
  display: flex;
  gap: 21px;
  align-items: center;
}

.list-btn-item {
}

.list-btn-sign-in {
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

  width: 105px;
  height: 42px;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #173a56;
}

.list-btn-sign-up {
  border-radius: 4px;
  width: 113px;
  height: 42px;
  background: #02897a;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}
/*header*/
/*hero*/
.hero {
}
.container.hero {
  display: flex;
}
.hero-content {
}
.hero-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #22343d;
  padding-top: 112px;
}

.hero-title-descr {
  margin-top: 18px;
  margin-right: 35px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55556;
  color: #22343d;
}

.hero-list-btn {
  display: flex;
  align-items: center;
  margin-top: 45px;
}

.hero-list-item {
}

.hero-list-btn-get {
  border-radius: 4px;
  width: 178px;
  height: 53px;
  background: #02897a;
  margin-right: 30px;
}

.hero-list-btn-watch {
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #02897a;
}
/*hero*/
/*product*/
.container {
}
.produkt {
}
.produkt-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #22343d;
  margin-top: 100px;
}

.produkt-list {
  display: flex;
  margin-top: 50px;
  gap: 30px;
  margin-bottom: 50px;
}
.produkt-list-item {
  width: calc((100% - 90px) / 4);
}
.produkt-subtitle {
  margin-bottom: 13px;
  font-weight: 600;
  font-size: 22px;
  color: #22343d;
}
.produkt-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
}
.produkt-btn {
  margin: 0 auto;
  display: block;
  border-radius: 4px;
  width: 175px;
  height: 53px;
  background: #02897a;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}
/* product */
/* managament */
.managament {
}
.container-managment {
  display: flex;

  align-items: center;
  margin-top: 50px;
}
.managament-text {
  padding-top: 91px;
  margin-right: 84px;
}
.managament-img {
  padding-top: 50px;
}
.managament-title {
  margin-top: 8px;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
}
.managament-subtext {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
}
.managament-subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
}
.managament-subtitle-accessory {
  margin-top: 30px;
  margin-bottom: 12px;
}
.accessory {
  margin-bottom: 25px;
}
.managament-subtitle-altera {
  margin-bottom: 12px;
}
.altera {
}
h4 {
  font-weight: 600;
  font-size: 16px;
  color: #22343d;
}
